*{
    font-family: Exo;
}
@font-face {
    font-family: Exo;
    src: url(./fonts/Exo2.0-Medium.otf);
}
.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  }

  .btn-primary {
    color: #212529;
    background-color: #7cc;
    border-color: #5bc2c2
  }

  .btn-primary:hover {
    color: #212529;
    background-color: #52bebe;
    border-color: #8ad3d3
  }

  .btn-primary:focus,
  .btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
  }

  .btn-primary.disabled,
  .btn-primary:disabled {
    color: #212529;
    background-color: #7cc;
    border-color: #5bc2c2
  }

  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled).active,
  .show>.btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #9cdada;
    border-color: #2e7c7c
  }

  .btn-primary:not(:disabled):not(.disabled):active:focus,
  .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
  }

  .btn-outline-primary {
    color: #7cc;
    background-color: transparent;
    background-image: none;
    border-color: #7cc
  }

  .btn-outline-primary:hover {
    color: #222;
    background-color: #8ad3d3;
    border-color: #7cc
  }

  .btn-outline-primary:focus,
  .btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5)
  }

  .btn-outline-primary.disabled,
  .btn-outline-primary:disabled {
    color: #7cc;
    background-color: transparent
  }

  .btn-outline-primary:not(:disabled):not(.disabled):active,
  .btn-outline-primary:not(:disabled):not(.disabled).active,
  .show>.btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #8ad3d3;
    border-color: #7cc
  }

  .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
  .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
  .show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5)
  }
  section{
    overflow: hidden;
  }
  .section-title {
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}
.text-primary {
  color: #6db4a3 !important;
}