.purple_a:link {
  color: #5a4ae3;
  background-color: transparent;
  text-decoration: none;
}

.purple_a:visited {
  color: #5a4ae3;
  background-color: transparent;
  text-decoration: none;
}

.purple_a:hover {
  color: #7b6ee9;
  background-color: transparent;
  text-decoration: underline;
}

.navlink:hover {
  text-decoration: none;
}

.purple_a:active {
  color: #483bb6;
  background-color: transparent;
  text-decoration: underline;
}

.supa_cool_bg {
  background: #a770ef;
  background: -webkit-linear-gradient(to right, #8a4ae3, #d240d9, #d7ab63);
  background: linear-gradient(to right, #8a4ae3, #d240d9, #d7ab63);
}

.stroke-transparent {
 -webkit-text-stroke: 1px gold;
 -webkit-text-fill-color: gold;
}

.gray_a {
  color: #a1a1a1;
  background-color: transparent;
  text-decoration: none;
}

.red_a:link {
  color: firebrick;
  background-color: transparent;
  text-decoration: none;
}

.red_a:visited {
  color: firebrick;
  background-color: transparent;
  text-decoration: none;
}

.red_a:hover {
  color: crimson;
  background-color: transparent;
  text-decoration: underline;
}

.red_a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}