<!DOCTYPE html>

<head>
    <title>Smithy</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/logo.png')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center" style="background-color: white;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="..." height="36">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gallery">Browse Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/devos">Explore Devos</a>
            </li>
            {% if session['user_id'] %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user_account', user_id=session['user_id']) }}">My Account</a>
            </li>
            {% endif %}
            {% if session['user_id'] %}
            <a href="/logout" class="btn btn-outline-danger navlink" tabindex="-1" role="button" aria-disabled="true"
                style="text-align: right; position: absolute; right: 2%; top: .7em;">Logout</a>
            {% else %}
            <a href="/login" class="btn btn-outline-info navlink" tabindex="-1" role="button" aria-disabled="true"
                style="text-align: right; position: absolute; right: 2%; top: .7em;">Login</a>
            {% endif %}
        </ul>
    </nav>
    {% if session['user_id'] %}
    <a href="/logout" class="btn btn-outline-danger navlink" tabindex="-1" role="button" aria-disabled="true"
        style="text-align: right; position: absolute; right: 2%; top: .7em;">Logout</a>
    {% else %}
    <a href="/login" class="btn btn-outline-info navlink" tabindex="-1" role="button" aria-disabled="true"
        style="text-align: right; position: absolute; right: 2%; top: .7em;">Login</a>
    {% endif %}
</head>

<body>
    <section class="bg-light">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-4 mb-sm-5">
                    <div class="card card-style1 border-0">
                        <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                            <div class="row align-items-center">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <img src="{{ pfp }}" alt="..." width=315 height=315 style="margin-left: 4.8rem">
                                </div>
                                <div class="col-lg-6 px-xl-10">
                                    <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                        <h3 class="h2 text-white mb-0">{{ name }}</h3>
                                        <span class="text text-warning">{{ devo_status }}</span>
                                    </div>
                                    <ul class="list-unstyled mb-1-9">
                                        <li class="mb-2 mb-xl-3 display-28"><span
                                                class="display-26 text-secondary me-2 font-weight-600">ID:</span>
                                            {{stuyname}}#{{ user_id }}</li>
                                        <li class="mb-2 mb-xl-3 display-28"><span
                                                class="display-26 text-secondary me-2 font-weight-600">Email:</span> <a
                                                href="https://mail.google.com/mail/u/0/?fs=1&to={{ stuyname }}@stuy.edu&tf=cm"
                                                class="purple_a">{{ stuyname }}@stuy.edu</a></li>
                                        <li class="mb-2 mb-xl-3 display-28"><span
                                                class="display-26 text-secondary me-2 font-weight-600">Website:</span>
                                            <a href="https://github.com/{{ github }}"
                                                class="purple_a">https://github.com/{{ github }}</a>
                                        </li>
                                        <li class="display-28"><span
                                                class="display-26 text-secondary me-2 font-weight-600">Developer
                                                Rating:</span>[stars]</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mb-4 mb-sm-5">
                    <div>
                        <span class="section-title text-primary">About {{ first }}</span>
                        <p>
                            {% for i in about_info %}
                            {{i}}<br>
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-4 mb-sm-5">
                                <span class="section-title text-primary">Skill Set</span>
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6">Web Design</div>
                                        <div class="col-6 text-end">80%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                                    <div class="animated custom-bar progress-bar slideInLeft bg-secondary"
                                        style="width:80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10"
                                        role="progressbar"></div>
                                </div>
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6">Back-End</div>
                                        <div class="col-6 text-end">95%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                                    <div class="animated custom-bar progress-bar slideInLeft bg-secondary"
                                        style="width:95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70"
                                        role="progressbar"></div>
                                </div>
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6">Linux, Git, Google foo</div>
                                        <div class="col-6 text-end">90%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                                    <div class="animated custom-bar progress-bar slideInLeft bg-secondary"
                                        style="width:90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70"
                                        role="progressbar"></div>
                                </div>
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6">Experience</div>
                                        <div class="col-6 text-end">75%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress progress-medium" style="height: 4px;">
                                    <div class="animated custom-bar progress-bar slideInLeft bg-secondary"
                                        style="width:75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70"
                                        role="progressbar"></div>
                                </div>
                            </div>
                            <div>
                                <span class="section-title text-primary">Education</span>
                                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                                    default model text, and a search for 'lorem ipsum' will uncover many web sites still
                                    in their infancy.</p>
                                <p class="">There are many variations of passages of Lorem Ipsum available, but
                                    the majority have suffered alteration in some form, by injected humour.</p>

                            </div>
                            <br>
                        </div>
                    </div>
                    {% if session['user_id']|int == user_id|int %}
                    <div class="mb-5 text-right"><a href="/edit"
                            class="btn btn-outline-dark btn-block px-5 py-3 text-uppercase" style="width:100%;">Edit</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</body>