<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/logo.png')}}">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Smithy</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <nav class="navbar navbar-expand-lg navbar-light justify-content-center fixed-top" style="background-color: white;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="..." height="36">
          </a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery">Browse Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/devos">Explore Devos</a>
            </li>
            {% if session['user_id'] %}
            <li class="nav-item dropdown" style="text-align: right; position: absolute; right: 10px; top: .7em; width: 160px !important;">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hi Professor!</a>
              <div class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink">
                <p style="text-align: center; color: #5a4ae3; margin-bottom: 0px;">tsinclair20#1</p>
                <span><hr class="dropdown-divider"></span>
                <a class="dropdown-item" href="{{ url_for('user_account', user_id=session['user_id']) }}">Profile</a>
                <a class="dropdown-item" href="/edit">Edit Details</a>
                <a class="dropdown-item" href="/dash">Admin Dashboard</a>
                <span><hr class="dropdown-divider"></span>
                <a class="dropdown-item" href="/logout" style="color: crimson;">Logout</a>
              </div>
            </li>
            {% else %}
            <a href="/login" class="btn btn-outline-info navlink" tabindex="-1" role="button" aria-disabled="true"
              style="text-align: right; position: absolute; right: 2%; top: .7em;">Login</a>
            {% endif %}
          </ul>
          </nav>
          <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    </head>
    <body class="sb-nav-fixed" style="padding-top: 50px; background-color: whitesmoke;">
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Stuy SoftDev</li>
                        </ol>
                        {% if error %}
                        <div class="alert alert-warning text-center" role="alert">
                            {{ error }}
                        </div>
                        {% endif %}
                        <form action="/dash" method="POST">
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Add General Project Tag</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <input class="form-control mr-sm-2" type="search" id="addgentag" name="addgentag" placeholder="Tag" aria-label="Search">
                                        <button type="submit" class="btn btn-success btn-sm" style="margin-left: 15px">Add Tag</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Add TedX Project Tag</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <input class="form-control mr-sm-2" type="search" id="addtedtag" name="addtedtag" placeholder="Tag" aria-label="Search">
                                        <button type="submit" class="btn btn-success btn-sm" style="margin-left: 15px">Add Tag</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-black mb-4">
                                    <div class="card-body">Remove General Tag</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <span class="form-group"> 
                                            <select class="form-control" id="delgentag" name="delgentag" style="float: right; width: 180px;"> 
                                            {% for tag in gentags %}
                                            <option>{{ tag }}</option>
                                            {% endfor %}
                                        </select> 
                                        </span>
                                        <button type="submit" class="btn btn-warning btn-sm" style="margin-left: 15px" name="selection" value="btn-delgentag">Delete Tag</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-black mb-4">
                                    <div class="card-body">Remove TedX Tag</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <span class="form-group"> 
                                            <select class="form-control" id="deltedtag" name="deltedtag" style="float: right; width:180px;"> 
                                            {% for tag in tedtags %}
                                            <option>{{ tag }}</option>
                                            {% endfor %}
                                        </select> 
                                        </span>
                                        <button type="submit" class="btn btn-warning btn-sm"style="margin-left: 15px" name="selection" value="btn-deltedtag">Delete Tag</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                        <div class="card-body">Remove Project by Project ID
                                            <span class="form-group"> 
                                                <select class="form-control" id="delproject" name="delproject" style="width: 50px; float: right;"> 
                                                {% for pid in project_ids %}
                                                <option>{{ pid }}</option>
                                                {% endfor %}
                                            </select> 
                                            </span>
                                        </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <button type="submit" class="btn btn-danger btn-sm" name="selection" value="btn-delproject">Permanently Delete Selected Project</button>
                                        <div class="small text-white"><i class="fas fa-skull-crossbones"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                        <div class="card-body">Remove User by User ID
                                            <span class="form-group"> 
                                                <select class="form-control" id="deluser" name="deluser" style="width: 50px; float: right;"> 
                                                {% for uid in user_ids %}
                                                <option>{{ uid }}</option>
                                                {% endfor %}
                                            </select> 
                                            </span>
                                        </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <button type="submit" class="btn btn-danger btn-sm" name="selection" value="btn-deluser">Permanently Delete Selected User Account</button>
                                        <div class="small text-white"><i class="fas fa-skull-crossbones"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                        <!--<div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Sensei's Project Pick
                                    </div>
                                    <div class="card-body">COMING SOON</div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Devo Of The Month
                                    </div>
                                    <div class="card-body">COMING SOON</div>
                                </div>
                            </div>
                        </div>-->
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Users
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>User ID</th>
                                            <th>Stuy Username</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Github</th>
                                            <th>Devo Status</th>
                                            <th>Class</th>
                                            <th>Rank</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>User ID</th>
                                            <th>Stuy Username</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Github</th>
                                            <th>Devo Status</th>
                                            <th>Class</th>
                                            <th>Rank</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for user in users %}
                                            <tr>
                                                <td>{{ user['user_id'] }}</td>
                                                <td>{{ user['stuy_username'] }}</td>
                                                <td>{{ user['firstname'].title() }}</td>
                                                <td>{{ user['lastname'].title() }}</td>
                                                <td>{{ user['github'] }}</td>
                                                <td>{{ user['devostatus'] }}</td>
                                                <td>{{ user['year'] }}</td>
                                                <td>{{ user['rank'] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Projects
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple2">
                                    <thead>
                                        <tr>
                                            <th>Project ID</th>
                                            <th>Title</th>
                                            <th>Team</th>
                                            <th>PM</th>
                                            <th>Other Devos</th>
                                            <th>Tags</th>
                                            <th>Repo</th>
                                            <th>Rating</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Project ID</th>
                                            <th>Title</th>
                                            <th>Team</th>
                                            <th>PM</th>
                                            <th>Other Devos</th>
                                            <th>Tags</th>
                                            <th>Repo</th>
                                            <th>Rating</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for project in projects %}
                                            <tr>
                                                <td>{{ project['project_id'] }}</td>
                                                <td>{{ project['title'].title() }}</td>
                                                <td>{{ project['team_name'].title() }}</td>
                                                <td>{{ project['pmID'] }}</td>
                                                <td>{{ ", ".join(project['devoIDs'].split("|")) }}</td>
                                                <td>{{ ", ".join(project['tags'].split("|")) }}</td>
                                                <td>{{ project['repo'] }}</td>
                                                <td>{{ project['rating'] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Anonymous Comments
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple3">
                                    <thead>
                                        <tr>
                                            <th>Comment ID</th>
                                            <th>Project ID</th>
                                            <th>User ID</th>
                                            <th>Comment Content</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Comment ID</th>
                                            <th>Project ID</th>
                                            <th>User ID</th>
                                            <th>Comment Content</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for comment in comments %}
                                            <tr>
                                                <td>{{ comment['comment_id'] }}</td>
                                                <td>{{ comment['project_id'] }}</td>
                                                <td>{{ comment['user_id'] }}</td>
                                                <td>{{ comment['comment'] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/datatables-simple-demo.js') }}"></script>
        <script>
            if ( window.history.replaceState ) {
                window.history.replaceState( null, null, window.location.href );
            }
        </script>
        
    </body>
</html>