<!DOCTYPE html>

<!-- Jimin: Alejandro Alonso (PM), Noakai Aronesty, Justin Zou, Ivan Lam
SoftDev pd2
P04 -- Smithy -->

<head>
  <title>Smithy</title>
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/logo.png')}}">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>

  <nav class="navbar navbar-expand-lg navbar-light justify-content-center"
    style="background-color: white; position:fixed; width:100%; z-index:101">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="{{url_for('static', filename='images/logo.png')}}" alt="..." height="36">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">Browse Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/devos">Explore Devos</a>
      </li>
      {% if session['user_id'] %}
      <li class="nav-item dropdown" style="text-align: right; position: absolute; right: 10px; top: .7em; width: 160px !important;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hi {{ name }}!</a>
        <div class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink">
          <p style="text-align: center; color: #5a4ae3; margin-bottom: 0px;">{{ full_username }}</p>
          <span><hr class="dropdown-divider"></span>
          <a class="dropdown-item" href="{{ url_for('user_account', user_id=session['user_id']) }}">Profile</a>
          <a class="dropdown-item" href="/edit">Edit Details</a>
          {% if session['user_id'] == '1' %} 
          <a class="dropdown-item" href="/dash">Admin Dashboard</a>
          {% else %}
            <a class="dropdown-item" href="/upload">Upload Project</a>
          {% endif %} 
            <span><hr class="dropdown-divider"></span>
          <a class="dropdown-item" href="/logout" style="color: crimson;">Logout</a>
        </div>
      </li>
      {% else %}
      <a href="/login" class="btn btn-outline-info navlink" tabindex="-1" role="button" aria-disabled="true"
        style="text-align: right; position: absolute; right: 2%; top: .7em;">Login</a>
      {% endif %}
    </ul>
  </nav>
  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
</head>

<body style="background-color: whitesmoke;">
  <div class="container-fluid vh-100" style="background: whitesmoke; padding-top: 6rem">
    <div class="row align-items-center mb-5" style="height: 85%;">
      <div class="row justify-content-center">
        <!--<div>
          <h1 class="text-center fw-light"><em>Welcome{{ returning }} to Smithy!</em></h1>
        </div>-->
        <img src="{{ url_for('static', filename='images/Smithy.png') }}" class="rounded mx-auto d-block">
      </div>
    </div>
    <p><strong>Learn more <i class="fa fa-arrow-down" aria-hidden="true"></i></strong></p>
  </div>

  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <title>Team Section </title>

</head>

<body>
    <div class="main">
      <h1 class="text-center">Meet the Team!</h1>
        <div class="profile-card">
            <div class="img">
                <img src="https://avatars.githubusercontent.com/u/66284316?v=4">
            </div>
            <div class="caption">
                <h3>Alejandro Alonso</h3>
                <p>CEO</p>
            </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="https://avatars.githubusercontent.com/u/74675547?v=4">
            </div>
            <div class="caption">
                <h3>Noakai Aronesty</h3>
                <p>Vice-President</p>
            </div>
        </div>
        <div class="profile-card">
            <div class="img">
                <img src="https://avatars.githubusercontent.com/u/58957203?v=4" style="background:white">
            </div>
            <div class="caption">
                <h3>Justin Zou</h3>
                <p>Senior Software Developer</p>
            </div>
            
        </div>
        <div class="profile-card">
          <div class="img">
              <img src="https://avatars.githubusercontent.com/u/44384981?v=4">
          </div>
          <div class="caption">
              <h3>Ivan Lam</h3>
              <p>Head Janitor</p>
          </div>
          </div>
    </div>


  <div class="container-fluid vh-100" style="padding-top: 2rem">
    <div class="row align-items-center" style="height: 100%;">
      <div class="row justify-content-center">
        <div><br>
          <h1 class="text-center fw-light"><em><strong>About Smithy</strong></em></h1>
          <h4 class="text-center fw-light"><em>Formerly known as Team Jimin</em></h4><br>
          <h4 class="text-center fw-light">
            Welcome to Smithy, the devo-network building website. Where you can reach for your stars and land back on Earth.
            <br>
            This was a website built by Team Jimin, consisting of Alejandro, Noakai, Justin, and Ivan. 
            <br><br>
            This website was created as our final project for our Software Development Class under the guidance of Mr.Mykolyk. It is meant 
            to help facilitate the creation of projects and give oppurtunities to connect with your fellow classmates in a brand new clean website!
            The site will allow teams to upload their projects to the server, rate and comment on these projects. You can upvote and downvote comments as well as a star system to rate the overall projects of your peers.
            Make your way towards a Devo-Emertius. 
          </h4>
          <br>
          <h3 class="text-center fw-light">View this project: <a
              href="https://projectsmithy.com/gallery/[smithy project id]" target="_blank" class="purple_a">Smithy!</a>
          </h3>
        </div>
      </div>
    </div>
  </div>




</body>