<head>
  <title>Smithy</title>
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/logo.png')}}">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
    type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/updownvote.css') }}">

  <nav class="navbar navbar-expand-lg navbar-light justify-content-center fixed-top" style="background-color: white;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="{{url_for('static', filename='images/logo.png')}}" alt="..." height="36">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">Browse Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/devos">Explore Devos</a>
      </li>
      {% if session['user_id'] %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user_account', user_id=session['user_id']) }}">My Account</a>
      </li>
      {% endif %}
      {% if session['user_id'] %}
      <a href="/logout" class="btn btn-outline-danger navlink" tabindex="-1" role="button" aria-disabled="true"
        style="text-align: right; position: absolute; right: 2%; top: .7em;">Logout</a>
      {% else %}
      <a href="/login" class="btn btn-outline-info navlink" tabindex="-1" role="button" aria-disabled="true"
        style="text-align: right; position: absolute; right: 2%; top: .7em;">Login</a>
      {% endif %}
    </ul>
  </nav>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
  <div id="intro" class="p-5 text-center bg-light">
    <h1 class="mb-0 h4">{{ title }}</h1>
  </div>
  <!-- Jumbotron -->
</head>
<!--Main Navigation-->

<!--Main layout-->

<body class="mt-4 mb-5">
  <div class="container">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-8 mb-4">
        <!--Section: Post data-mdb-->
        <section class="border-bottom mb-4">
          <img src="{{ project_image }}" class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />

          <div class="row align-items-center mb-4">
            <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
              <img src="{{ team_flag }}" class="rounded-5 shadow-1-strong me-2" height="35" alt="" loading="lazy" />
              <span> Published by</span>
              <a href="" class="text-dark">{{ team_name }}</a>
            </div>
            <!-- STAR CSS -->
            <div class="col-lg-6 text-center text-lg-end">
              {% for tag in tags %}
              <span class="badge rounded-pill bg-warning" style="margin-bottom: 9px;">{{ tag }}</span>
              {% endfor %}
            </div>
          </div>
        </section>
        <!--Section: Post data-mdb-->

        <!--Section: Text-->
        <section class="border-bottom mb-4 pb-4">
          <p><strong>What is it?</strong></p>
          <p>{{ project_descrip_1 }}</p>
          <p><strong>Why make it?</strong></p>
          <p id="comments_section">{{ project_descrip_2 }}</p>

          <!--<p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio sapiente molestias
            consectetur. Fuga nulla officia error placeat veniam, officiis rerum laboriosam
            ullam molestiae magni velit laborum itaque minima doloribus eligendi! Lorem ipsum,
            dolor sit amet consectetur adipisicing elit. Optio sapiente molestias consectetur.
            Fuga nulla officia error placeat veniam, officiis rerum laboriosam ullam molestiae
            magni velit laborum itaque minima doloribus eligendi!
          </p>

          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio sapiente molestias
            consectetur. Fuga nulla officia error placeat veniam, officiis rerum laboriosam
            ullam molestiae magni velit laborum itaque minima doloribus eligendi! Lorem ipsum,
            dolor sit amet consectetur adipisicing elit. Optio sapiente molestias consectetur.
            Fuga nulla officia error placeat veniam, officiis rerum laboriosam ullam molestiae
            magni velit laborum itaque minima doloribus eligendi!
          </p>-->
        </section>
        <!--Section: Text-->
        <!--Section: Comments-->
        <section class="border-bottom mb-3">
          <h5 class="text-center" style="padding-bottom: 10px; color:#237677;"><strong>Question, Comments,
              Concerns</strong></h5>


          {% if session %}
          <!--Section: Reply-->
          <section>
            <p class="text-center" style="color: #237677;"><strong>Drop a Comment</strong></p>
            <form method="post" action="/post_comment">

              <!-- For backend stuff -->
              <input type="hidden" name="project_id" value="{{project_id}}">

              <!-- Anonymous switch -->
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="anonymous" role="switch" id="anonymous">
                <label class="form-check-label" for="flexSwitchCheckDefault">Anonymous</label>
              </div>

              <!-- Message input -->
              <div class="form-outline mb-4">
                <textarea class="form-control" name="comment" id="comment" rows="4"></textarea>
              </div>

              <!-- Error handling -->
              {% if comment_empty|int == 1 %}
              <div class="alert alert-warning text-center" role="alert">
                Your comment cannot be empty!
              </div>
              {% endif %}

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4" style="width: 100%;">
                Publish
              </button>
            </form>
          </section>
          <!--Section: Reply-->
          {% endif %}
          {% for comment in comments %}
          <!-- Comment -->
          <div class="row mb-3 py-2 bg-light rounded">
            {% if comment['anonymous'] == 0 %}
            <div class="col-2 me-0 pe-0" style="width:10%">
              <img src="{{ comment['user_pfp'] }}" class="img-fluid shadow-1-strong rounded-5" alt="" />
            </div>

            <div class="col-9">
              <p class="mb-2"><strong><a class="purple_a" href="/account/{{ comment['user_id'] }}">{{
                    comment['user_name'] }}</a></strong></p>
              {% else %}
              <div class="col-2 me-0 pe-0" style="width:10%">
                <img src="{{url_for('static', filename='images/anonymous_user.png')}}"
                  class="img-fluid shadow-1-strong rounded-5" alt="" />
              </div>

              <div class="col-9">
                <p class="mb-2 gray_a"><strong>Anonymous</strong></p>
                {% endif %}
                <p>
                  {{ comment['comment'] }}
              </div>

              <div class="col">
                <div class="vote chev mx-0 float-end text-start justify-content-center">
                  <div class="increment up"></div>
                  <div class="increment down"></div>
                  
                  <div class="count">0</div>
                </div>
                <form method="post" action="/delete_comment"
                  onsubmit="return confirm('Delete comment: {{comment['comment'][:7]}}{%if comment['comment']|length>7%}...{%endif%}');">
                  <input type="hidden" name="comment_id" value="{{ comment['comment_id'] }}">
                  <input type="hidden" name="project_id" value="{{ comment['project_id'] }}">
                  {% if session['user_id'] and (comment['user_id']|int == session['user_id']|int) %}
                  <button type="submit" class="btn btn-outline-danger btn-sm float-end">Delete</button>
                  {% endif %}
                </form>
              </div>

            </div>
            {% endfor %}
        </section>
        <!--Section: Comments-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4" style="margin-top: 40px;">
        <!--Section: Sidebar-->
        <section class="sticky-top" style="top: 80px;">
          <!--Section: Ad-->
          <section class="text-center border-bottom pb-2 mb-4">
            <form method="post" action="/project/{{ project_id }}/{{ comment_empty }}" class="container">
              <div class="row">
                <div class="col-lg">
                  <fieldset class="rating">
                    <input type="radio" id="star5" name="star5" value="5" /><label class="full" for="star5"
                      title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="star4half" value="4.5" /><label class="half"
                      for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" name="star4" value="4" /><label class="full" for="star4"
                      title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="star3half" value="3.5" /><label class="half"
                      for="star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" name="star3" value="3" /><label class="full" for="star3"
                      title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" name="star2half" value="2.5" /><label class="half"
                      for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" name="star2" value="2" /><label class="full" for="star2"
                      title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" name="star1half" value="1.5" /><label class="half"
                      for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="star1" value="1" /><label class="full" for="star1"
                      title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf" name="starhalf" value="0.5" /><label class="half" for="starhalf"
                      title="Sucks big time - 0.5 stars"></label>
                </div>
                <button class="col-sm btn btn-outline-warning btn-block px-1 py-1 text-uppercase"
                  type="submit">Rate</button>
              </div>
            </form>
            {% if starratings %}
            <p><em>Overall Project Rating: </em>{{starratings}}<i class="fa fa-star stroke-transparent"
                aria-hidden="true"></i></p>
            {% else %}
            <p><em>Overall Project Rating: </em>N/A</p>
            {% endif %}
          </section>
          <section class="text-center border-bottom pb-3 mb-4">
            <h5><img src="{{ team_flag }}" class="rounded-5 shadow-1-strong me-2" height="35" alt="" loading="lazy" />{{
              team_name }}</h5>

            <h6>Project Manager: <a class="purple_a" href="/account/{{ pm_id }}">{{ pm_name }}</a></h6>

            {% for devo in devos %}
            <h6>Devo: <a class="purple_a" href="/account/{{ devo['id'] }}">{{ devo['name'] }}</a></h6>
            {% endfor %}
          </section>
          <!--Section: Ad-->

          <!--Section: Video-->
          <section class="text-center">
            <a href="{{ repo_link }}" class="btn btn-dark" target="_blank"><i class="fa fa-github"
                style="padding-bottom: 4px; padding-top: 4px"></i> <em>Github</em></a>
            {% if hosted %}
            <a href="{{ hosted_loc }}" class="btn btn-outline-dark" target="_blank">Hosted Site</a>
            {% endif %}
          </section>
        </section>
        <!--Section: Sidebar-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>

  <script src="{{ url_for('static', filename='js/updownvote.js') }}"></script>
</body>
<!--Main layout-->