<!DOCTYPE html>
<!-- Jimin: Alejandro Alonso (PM), Noakai Aronesty, Justin Zou, Ivan Lam
SoftDev pd2
P04 -- Smithy -->

<head>
   <title>Smithy</title>
   <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/logo.png')}}">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <!------ Include the above in your HEAD tag ---------->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   
</head>

<body class="vh-100">

   <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center" style="background-color: #e3f2fd;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="{{url_for('static', filename='images/logo.png')}}" alt="..." height="36">
      </a>
      <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Browse Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/devos">Explore Devos</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a href="/" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Random dropdown</a>
          <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Inbox</a>
              <a href="#" class="dropdown-item">Drafts</a>
              <a href="#" class="dropdown-item">Sent Items</a>
              <div class="dropdown-divider"></div>
              <a href="#"class="dropdown-item">Trash</a>
          </div>
      </li> -->
      </ul>
    </nav>
   <br>
   <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
   <script src="{{ url_for('static', filename='js/login.js') }}"></script>
   <div class="container">
      <div class="row">
         <div class="col-md-5 mx-auto">
            <div id="first">
               <div class="myform form">
                  <div class="logo mb-3">
                     <div class="col-md-12 text-center">
                        <img class="rounded float-left" src="{{ url_for('static', filename='images/logo.png') }}"
                           width=50 height=50>
                        <h1 style="display: inline;">Smithy</h1>
                        <img class="rounded float-right" src="{{ url_for('static', filename='images/thluffy.png') }}"
                           width=50 height=50>
                     </div>
                  </div>



                  <form action="/rAuth" method="post" name="registration">
                     <div class="form-group">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="text" name="firstname" class="form-control" id="firstname"
                           aria-describedby="emailHelp" placeholder="Thluffy">
                     </div>
                     <div class="form-group">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="text" name="lastname" class="form-control" id="lastname"
                           aria-describedby="emailHelp" placeholder="Sinclair">
                     </div>
                     <div class="form-group">
                        <label for="exampleInputEmail1">Github @</label>
                        <input type="text" name="github" class="form-control" id="github"
                           aria-describedby="emailHelp" placeholder="tsinclair-projects">
                     </div>
                     <div class="form-group">
                        <label for="exampleInputEmail1">Username (stuy.edu)</label>
                        <input type="text" name="stuy_username" class="form-control" id="stuy_username"
                           aria-describedby="emailHelp" placeholder="tsinclair20">
                     </div>
                     <div class="form-group">
                        <label for="exampleInputEmail1">Password</label>
                        <input type="password" name="password0" id="password0" class="form-control"
                           aria-describedby="emailHelp" placeholder="a_strong_password">
                     </div>
                     <div class="form-group">
                        <label for="exampleInputEmail1">Confirm Password</label>
                        <input type="password" name="password1" id="password1" class="form-control"
                           aria-describedby="emailHelp" placeholder="a_strong_password">
                     </div>



                     <!-- error for when user does not put a username or password (must be at least 1 character) and presses register -->
                     {% if given|length >= 1 %}
                     <div class="container-fluid px-5">
                        <div class="alert-danger alert text-center marginy py-2" role="alert">
                           Please input a {{given}}!
                        </div>
                     </div>
                     {% endif %}

                     {% if mismatch %}
                     <div class="container-fluid px-5">
                        <div class="alert-danger alert text-center marginy py-2" role="alert">
                           Passwords don't match!
                        </div>
                     </div>
                     {% endif %}




                     <div class="form-group">
                        <p class="text-center">By signing up you accept our <a href="/terms">Terms Of Service</a></p>
                     </div>
                     <div class="col-md-12 text-center">
                        <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">register</button>
                     </div>

                     <div class="col-md-12 ">
                        <div class="login-or">
                           <hr class="hr-or">
                           <span class="span-or">or</span>
                        </div>
                     </div>

                     <div class="col-md-12">
                        <div class="form-group">
                           <p class="text-center">Already have an account? <a href="/login" id="signup">Sign in here</a>
                           </p>
                        </div>
                     </div>
               </div>
               </form>

<br>


               
            </div>
         </div>
      </div>
   </div>
   </div>

</body>